<!DOCTYPE html>
<html lang="en">
<head>
  <title>John Jason Fisher</title>
<body>
  <div>
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="/home">Home</a></li>
      <li role="presentation" class="active"><a href="/mtgofetchabout">About MTGO fetch</a></li>
    </ul>
  </div>
  <h1>About MTGO Fetch?</h1>
  <p>MTGO Fetch is an automated investment web application for magic the gathering investors.</p>
  <a href="https://mtgopricefetch.herokuapp.com/login">Link to MTGO Fetch</a>
</body>

<footer role="contentinfo">
  <a class="social" href="https://twitter.com/Prof_Programmin"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/166222/twitter.png" alt="Twitter" width="40" height="40"></a>
  <a class="social" href="https://github.com/JohnJasonFisher"><img src="http://i.imgur.com/Sx1oqkM.png" alt="Facebook" width="40" height="40"></a>
</footer>
</html>
