<div align="center">
  <h1>About MTGO Fetch?</h1>
  <p>MTGO Fetch is an automated investment web application for magic the gathering investors.</p>
    <iframe width="854" height="480" src="https://www.youtube.com/embed/ghbZDPEDjmY" frameborder="0" allowfullscreen></iframe>
   <br>
  <a href="https://mtgopricefetch.herokuapp.com/login">Link to MTGO Fetch</a>
</div>
