<div>
    <h2>Hello</h2>
    <p>
      My name is John Fisher and this is my portfillio site.
      <br>
      Here I have links to different web applications I have developed in the past.
      <br>
      If you are intrested in seeing my resume you can click <a href="https://docs.google.com/document/d/1PfAH-T6tHeolNwuVxxiv5ucHioDWG1DVPPJwUdDoOgY/edit?usp=sharing">here</a>.
    </p>
</div>
<div>
    <h2>Skills</h2>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>Javascript</li>
      <li>Ruby on Rails</li>
      <li>Angliar</li>
      <li>Bootstrap</li>
      <li>Git</li>
      <li>PostgreSQL</li>
      <li>Java</li>
    </ul>
    <h2>Education</h2>
    <ul>
      <li>Actualize Programming Bootcamp | 2016</li>
      <li>Univsesity of Louisiana at Lafayette | 2015</li>
    </ul>
    <h2>Projects</h2>
    <ul>
      <li>MTGO Price Fetch</li>
      <li>SVP Chicago</li>
      <li>Lucha</li>
    </ul>
</div>
