<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="http://i.imgur.com/FoPGZnc.jpg?1" height="450" style="width:75%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2 class="w3-text-white">John Fisher</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Web Devloper</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Chicago, IL</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>jjfisher91@gmail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>708-310-9880</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-pencil-square-o fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
          <p>HTML</p>
          <p>CSS</p>
          <p>JavaScript</p>
          <p>Angular</p>
          <p>Ruby on Rails</p>
          <p>Bootstrap</p>
          <p>Git</p>
          <p>PostgreSQL</p>
          <p>Java</p>
          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
          <p>English</p>
          <p>Polish</p>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">

      <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Web Developer | The Difference Engine</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sep. 2016 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p>&#10154; Consultants that help nonprofits develop applications that improve productivity and establish web presence.</p>
          <hr>
        </div>
      </div>

      <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-cogs fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Projects</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Lucha - Latin United Community Housing Association</b></h5>
          <a href="http://prod-lucha-app.herokuapp.com" class="w3-text-blue">prod-lucha-app.herokuapp.com</a> <i class="fa fa-youtube w3-hover-text-red w3-large" onclick="myFunction('vid_lucha')"></i>
          <p>&#10154; Tracks client rentals, home buying and foreclosure information for clients and employees</p>
          <div id="vid_lucha" style="display:none">
            <iframe width="764" height="430" src="https://www.youtube.com/embed/wkdO7bxDjFk" frameborder="0" allowfullscreen></iframe>
          </div>
          <hr>
        </div>
        <div class="w3-container">
          <div>
            <h5 class="w3-opacity"> <b>SVP - Social Venture Partners</b></h5>
          </div>
          <a href="http://prod-svp-chicago.herokuapp.com/home" class="w3-text-blue">prod-svp-chicago.herokuapp.com</a> <i class="fa fa-youtube w3-hover-text-red w3-large" onclick="myFunction('vid_svp')"></i>
          <p>&#10154; Accepts and rates applications from Chicago nonprofits</p>
          <div id="vid_svp" style="display:none">
            <iframe width="764" height="430" src="https://www.youtube.com/embed/60By5ApwAYE" frameborder="0" allowfullscreen></iframe>
          </div>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>MTGO Price Fetch</b></h5>
          <a href="https://mtgopricefetch.herokuapp.com" class="w3-text-blue">mtgopricefetch.herokuapp.com</a> <i class="fa fa-youtube w3-hover-text-red w3-large" onclick="myFunction('vid_mtgo')"></i>
          <p>&#10154; Automated investment application for Magic the Gathering card collectors</p>
          <div id="vid_mtgo" style="display:none">
            <iframe width="764" height="430" src="https://www.youtube.com/embed/q1dnTN7CVlY" frameborder="0" allowfullscreen></iframe>
          </div>
          <hr>
        </div>
      </div>

      <div class="w3-container w3-card-2 w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Actualize Coding Bootcamp & Apprenticeship</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2016</h6>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>University of Louisiana at Lafayette</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2012 - 2016</h6>
          <p>Bachelor’s Degree, Petroleum Engineering</p><br>
        </div>
      </div>

    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>Find me on social media.</p>
  <a href="https://www.linkedin.com/in/john-jason-fisher/"><i class="fa fa-linkedin w3-hover-text-indigo w3-large"></i></a>
  <a href="https://www.youtube.com/channel/UC0JGme0TvfN2rftm7cgOEJw"><i class="fa fa-youtube w3-hover-text-red w3-large"></i></a>
  <a href="https://github.com/JohnJasonFisher"><i class="fa fa-github w3-hover-text-black w3-large"></i></a>
  <a href="https://twitter.com/Prof_Programmin"><i class="fa fa-twitter w3-hover-text-light-blue w3-large"></i></a>
  <p></p>
</footer>
<script>
function myFunction(id) {
  var x = document.getElementById(id);
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script>
