<div>
    <h2>Summary</h2>
    <p>A motovated web developer who enjoys technical challenges and creation of web applications.</p>
    <p>My weapons for development and programming are HTML5, CSS, JavaScript, Ruby on Rails and PostgreSQL</p>
    <p>I am capable of creating a dynamic website that can create, read, update and destroy (CRUD) data. My </p>
</div>
<div>
    <h2>Skills</h2>
    <ul>
      <li>Ruby on Rails</li>
      <li>Javascript</li>
      <li>Angliar 1</li>
      <li>PHP</li>
      <li>Java</li>
    </ul>
    <h2>Education</h2>
    <ul>
      <li>Actualize Programming Bootcamp</li>
      <li>Univsesity of Louisiana at Lafayette</li>
    </ul>
    <h2>Projects</h2>
    <ul>
      <li>MTGO Price Fetch</li>
      <li>SVP Chicago</li>
    </ul>
</div>
