<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
</head>
<body>
  <div>
    <img class="portrait" src="http://i.imgur.com/FoPGZncr.jpg" alt="JohnFisher.jpeg" width="317" height="476">
  </div>
  <div>
    <h2>Summary</h2>
    <p>A motovated web developer who enjoys technical challenges and creation of web applications.</p>
    <p>My weapons for development and programming are HTML5, CSS, JavaScript, Ruby on Rails and PostgreSQL</p>
    <p>I am capable of creating a dynamic website that can create, read, update and destroy (CRUD) data. My </p>
  </div>
  <div>
    <h2>Skills</h2>
    <ul>
      <li>Ruby on Rails</li>
      <li>Javascript</li>
      <li>Angliar 1</li>
      <li>PHP</li>
      <li>Java</li>
    </ul>
    <h2>Education</h2>
    <ul>
      <li>Actualize Programming Bootcamp</li>
      <li>Univsesity of Louisiana at Lafayette</li>
    </ul>
    <h2>Projects</h2>
    <ul>
      <li>MTGO Price Fetch</li>
      <li>SVP Chicago</li>
    </ul>
  </div>
</body>

<section>
  <h3></h3>
</section>

<footer role="contentinfo">
  <a class="social" href="https://twitter.com/Prof_Programmin"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/166222/twitter.png" alt="Twitter" width="40" height="40"></a>
  <a class="social" href="https://github.com/JohnJasonFisher"><img src="http://i.imgur.com/Sx1oqkM.png" alt="Facebook" width="40" height="40"></a>
</footer>
</html>
