<%= image_tag("Chicago-slider-2.jpg", height: '254', width: '890') %>
<h1>Social Venture Partners - Chicago</h1>
<h3>What is Social Venture Partners?</h3>
<p>Social Venture Partners seeks partnerships with local nonprofits and empowers them to make the world a better place.</p>
<h3>How did you contribute to SVP?</h3>
<p>I was part of a team of developers who developed SVP - Chicago's web application.</p>
<p>This web application makes it easy for users to rate applications for further involvement and funding.</p>
<a href="http://prod-svp-chicago.herokuapp.com/">SVP - Chicago application page</a>
